/*  GENERAL STYLES */

/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

@font-face {
  font-family: Potra;
  src: url(Potra.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

html, body{
  overflow-x: hidden;
}
    

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#0B0C10;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #45A29E;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* NAVBAR STYLES */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #45A29E;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo .OR {
    color: #66FCF1;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a {
    color: #45A29E;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #45A29E;
}
.navbar.sticky .menu li a:hover{
    color: #66FCF1;
}

.OR {
  font-family: Potra;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #45A29E;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    overflow-x: hidden;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* HOME STYLES */

.initials {
    color: #66FCF1;
}

.home{
    display: flex;
    background: url(/background\ image.gif) no-repeat center;
    background-color: #1F2833;
    background-blend-mode: overlay;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #66FCF1;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #45A29E;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #45A29E;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #45A29E;
    background: none;
}

/* ABOUT STYLES */
.about .title::after{
    content: "Who am I?";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #45A29E;
}
.about .about-content .right p{
    text-align: start;
}

.about .about-content .right a:hover{
    color: #45A29E ;
    background: none;
}

/* UI/UX CONTENT STYLES */




/* Base styles for all screen sizes */


.case-study-gallery {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
  max-width: 1100px;
}

.case-study {
  position: relative;
  display: block;
  width: 90%;
  height: 450px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, .5);
  overflow: hidden;
  transition: all .4s ease;
}

.case-study__img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(32, 32, 32, 0.75);
  transition: all .3s ease;
}

.case-study:hover .case-study__overlay {
  opacity: 1;
}

.case-study__title {
  margin-bottom: 2rem;
  font-size: 2.25rem;
  font-family: 'Poppins';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transform: translateY(-20px);
  opacity: 0;
  transition: all .3s cubic-bezier(.3, 0, 0, 1.3);
}

.case-study__link {
  display: block;
  width: 60%;
  padding: 10px;
  font-family: 'Poppins';
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transform: translateY(20px);
  opacity: 0;
  transition: all .3s cubic-bezier(.3, 0, 0, 1.3);
}

.case-study:hover .case-study__title,
.case-study:hover .case-study__link {
  transform: translateY(0);
  opacity: 1;
}


/* Background Images for Case Study Containers */
.study1 {
  background-color: #BEEB9F;
  background-image: url(/Images/LaTienda1.png);
}

.study2 {
  background-color: #1C212E;
  background-image: url(/Images/Wanderful1.png);
}

.study3 {
  background-color: #5099BD;
  background-image: url(/Images/MMI1.png);
}

/* Case Study Container */
.case-study {
  position: relative;
  display: block;
  width: 90%;
  height: 450px;
  margin: 0 auto 2rem;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, .5);
  overflow: hidden;
  transition: all .4s ease;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Media Queries for responsive layout */

/* Tablet and Mobile */
@media screen and (max-width: 768px) {
  .case-study {
    height: 300px;
  }

  .study1 {
    background-color: #BEEB9F;
    background-image: url(/Images/LaTienda2.png);
    
  }

  .study2 {
    background-color: #1C212E;
    background-image: url(/Images/Wanderful2.png);
  }

  .study3 {
    background-color: #5099BD;
    background-image: url(/Images/MMI2.png);
  }
}

/* Desktop and Big Resolutions */
@media screen and (min-width: 1200px) {
  .case-study {
    max-height: 500px;
  }
}



/* GAME DESIGN DIVISION STYLES */

.services, .teams{
    color:#fff;
    background:#0B0C10;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background:#0B0C10;
    content: "Projects";
}

/* WEB DEVELOPMENT DIVISION STYLES */

.skills .title::after{
    content: "Projects";
}

.webdev .title::after{
  content: "Projects";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: #45A29E ;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #45A29E ;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: #45A29E ;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #45A29E ;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 70%;
}
.skills-content .right .js::before{
    width: 75%;
}
.skills-content .right .react::before{
  width: 50%;
}
.skills-content .right .sass::before{
  width: 55%;
}
.skills-content .right .bootstrap::before{
  width: 55%;
}
.skills-content .right .npm::before{
  width: 35%;
}
.skills-content .right .nodejs::before{
  width: 15%;
}
.skills-content .right .gms::before{
  width: 60%;
}
.skills-content .right .unity::before{
  width: 40%;
}
.skills-content .right .phaser3::before{
  width: 65%;
}
.skills-content .right .imageedit::before{
  width: 50%;
}
.skills-content .right .documentation::before{
  width: 80%;
}


/* CREATIVE WRITING Styling */
.teams .title::after{
    content: "Creative Writing";
}
.teams .carousel .card{
    background: #1F2833;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: #45A29E ;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #45A29E ;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #66FCF1;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #45A29E !important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #45A29E !important;
}

/* ABOUT ME STYLES */

.contact .title::after{
    content: "get in touch";
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #45A29E;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #45A29E;
    background: #45A29E;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: #45A29E;
    background: none;
}

/* FOOTER STYLES */
footer{
    background:#0B0C10;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #45A29E;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* RESPONSIVE MEDIA QUERIES */

@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background:#0B0C10;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

.social-media-buttons {
    justify-self: center;
    text-align: center;
  }



  /* GAME DEVELOPMENT CONTENT STYLES */

 :root{
    --background-dark: #2d3548;
    --text-light: #fff; 
    --text-lighter: #fff;
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }

  .hero-section{
    display: flex;
    align-items: flex-start;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .carta{
    list-style: none;
    position: relative;
  }
  
  .carta:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .carta:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .carta:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }

  .card__category2{
    color: var(--text-light);
    font-size: 0.9rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
  
  

  /* WEB DEVELOPMENT CONTENT*/
  

  /* default */
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body */
  .wdbody {
    min-height: 50vh;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;;
    font-size: 1rem;
  }
  
  /* .flip-card-container */
  .flip-card-container {
    --hue: 150;
    --primary: hsl(var(--hue), 96%, 69%);
    --white-1: hsl(0, 0%, 90%);
    --white-2: hsl(0, 0%, 80%);
    --dark: hsl(var(--hue), 40%, 45%);
    --grey: hsl(0, 0%, 50%);
  
    width: 300px;
    height: 500px;
    margin: 40px;
  
    perspective: 1000px;
  }
  
  /* .flip-card */
  .flip-card {
    width: inherit;
    height: inherit;
  
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
  }
  
  /* hover and focus-within states */
  .flip-card-container:hover .flip-card,
  .flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
  }
  
  /* .card-... */
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
  
    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  
    backface-visibility: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .card-front */
  .card-front {
    transform: rotateY(0deg);
    z-index: 2;
  }
  
  /* .card-back */
  .card-back {
    transform: rotateY(180deg);
    z-index: 1;
  }
  
  /* figure */
  figure {
    z-index: -1;
  }
  
  /* figure, .img-bg */
  figure,
  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  }
  
  /* img */
  img {
    height: 100%;
    border-radius: 24px;
  }
  
  /* figcaption */
  figcaption {
    display: block;
  
    width: auto;
    margin-top: 12%;
    padding: 8px 22px;
  
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;
  
    position: absolute;
    top: 0;
    right: 12px;
  
    color: var(--white-1);
    background: hsla(var(--hue), 25%, 10%, .5);
  }
  
  /* .img-bg */
  .img-bg {
    background: hsla(var(--hue), 25%, 10%, .5);
  }
  
  .card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
  }
  
  .card-front .img-bg::before {
    content: "";
  
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);
  
    width: 100%;
    height: 6px;
    border: 1px solid var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
  
    transition: .1s;
  }
  
  .card-back .img-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
  }
  
  /* hover state */
  .flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
  }
  
  /* ul */
  .wdul {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
  
    list-style: none;
    color: var(--white-1);
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* li */
  .wdli {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
  
    font-size: 14px;
    text-align: center;
  
    position: relative;
  }
  
  .wdli:nth-child(1n) {
    color: var(--white-2);
    font-size: 0.9rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .wdli:not(:last-child)::after {
    content: "";
  
    position: absolute;
    bottom: 0;
    left: 0;
  
    width: 100%;
    height: 1px;
  
    background: currentColor;
    opacity: .2;
  }
  
  /* button */
  button {
    font-family: inherit;
    font-weight: bold;
    color: var(--white-1);
  
    letter-spacing: 2px;
  
    padding: 9px 20px;
    border: 1px solid var(--grey);
    border-radius: 1000px;
    background: transparent;
    transition: .3s;
  
    cursor: pointer;
  }
  
  button:hover,
  button:focus {
    color: var(--primary);
    background: hsla(var(--hue), 25%, 10%, .2);
    border-color: currentColor;
  }
  
  button:active {
    transform: translate(2px);
  }
  
  /* .design-container */
  .design-container {
    --tr: 90;
    --op: .5;
  
    width: 100%;
    height: 100%;
  
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  
    pointer-events: none;
  }
  
  /* .design */
  .design {
    display: block;
  
    background: var(--primary);
    position: absolute;
  
    opacity: var(--op);
    transition: .3s;
  }
  
  .design--1,
  .design--2,
  .design--3,
  .design--4 {
    width: 1px;
    height: 100%;
  }
  
  .design--1,
  .design--2 {
    top: 0;
    transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
  }
  
  .design--1 {
    left: 20%;
  }
  
  .design--2 {
    left: 80%;
  }
  
  .design--3,
  .design--4 {
    bottom: 0;
    transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
  }
  
  .design--3 {
    left: 24%;
  }
  
  .design--4 {
    left: 76%;
  }
  
  .design--5,
  .design--6,
  .design--7,
  .design--8 {
    width: 100%;
    height: 1px;
  }
  
  .design--5,
  .design--6 {
    left: 0;
    transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
  }
  
  .design--5 {
    top: 41%;
  }
  
  .design--6 {
    top: 59%;
  }
  
  .design--7,
  .design--8 {
    right: 0;
    transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
  }
  
  .design--7 {
    top: 44%;
  }
  
  .design--8 {
    top: 56%;
  }
  
  /* states */
  button:hover+.design-container,
  button:active+.design-container,
  button:focus+.design-container {
    --tr: 20;
    --op: .7;
  }

  /* Creative Writing Buttons */

  .spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .svg-wrapper {
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
  }
   
  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #66FCF1;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }
   
  #text {
    margin-top: -35px;
    text-align: center;
  }
  
  #text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
  }

  a {
    color: inherit;
  }
  
  .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #66FCF1;
  }

  /* Previous-Next Buttons */
.pnbuttons {
  align-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.myButton {
background-color:#45a29d;
border-radius:14px;
display:inline-block;
cursor:pointer;
color:#ffffff;
  font-family: 'Poppins', sans-serif;
font-size:20px;
padding:18px 41px;
text-decoration:none;
text-shadow:0px 0px 0px #45a29d;
}
.myButton:hover {
background-color:#66fcf2;
}
.myButton:active {
position:relative;
top:1px;
}

